<div class="restaurant">
    <h3>{{restaurant.name}}</h3>
    <img
        src="{{restaurant.imagelink}}"
        alt="{{restaurant.name}}"
        style="width:100%;height:100%;"
    />
</div>
<div>
    {{#if menus.length}}
    <div class="slidecontainer">
        <input
            type="range"
            min="1"
            max="{{menus.length}}"
            value="1"
            class="slider"
            id="myRange"
        />
        <p><span id="demo"></span></p>
    </div>
    <div>
        {{#each menus}}
            <p><a href="">{{this.title}}</a></p>
        {{/each}}
    </div>
    {{else}}
        <p>No menus :(</p>
    {{/if}}
    <a href="http://localhost:8002/restaurants/{{restaurant.id}}/menus/new">add
        menu</a>
</div>
<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}

</script>